.hero__content {
  display: flex;
  padding: 113px 0 71px;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .hero__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
}


@media (max-width: 500px) {
  .hero__content {
    padding: 49px 0 42px;
  }
}
