.portfolio__button {
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: white;
  background: #ec1f46;
  box-shadow: 0px 2px 0px #ce1c3e;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px 25px;
  position: relative;
  z-index: 2;
}

.portfolio__button {
  cursor: pointer;
}

@media (max-width: 375px) {
  .portfolio__button {
    padding: 8px 21px;
  }
}
