
.contacts__confidential{
  margin: 0;
  padding: 206px 0 0 0;
  color: #949494;
  text-decoration: underline;
}
@media screen and (max-width:768px){
  .contacts__confidential{
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width:520px){
  .contacts__confidential{
    padding: 27px 0  0 0;

  }
}
